  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="container-pacientes">
          <div class="pacientes-titulo" i18n="TituloPacientes">
            <p>Tus pacientes</p>
          </div>
          
          <div class="pacientes-buscador">
            <form [formGroup]="modeloBuscar" (ngSubmit)="buscar()">
              <input type="text" placeholder="Buscar..." i18n-placeholder="Buscar_Paciente_placeholder" formControlName="buscar">
              <button type="submit" class="buscar btn btn-primary" i18n="BotonRegistrarNutri">Buscar</button>
              
            </form>
            <div class="buscar-op">
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tipo
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Nombre</a>
                  <a class="dropdown-item">Apellido</a>
                </div>
              </div>
              <button routerLink="/nutri/registro-paciente" type="button" class=" agregar btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" i18n="DescripcionBotonAgregarPaciente">
                Agregar paciente
              </button>
            </div>
          </div>

           <!-- Profile Feed -->
            <div class="container-gallery">

              <div class="row row-gallery " id="gallery-1">

                <div class="col-4 col-sm-4 col-lg-4 column" *ngFor="let paciente of pacientes">
                  <a routerLink="/nutri/ver-perfil-paciente" style="color: black;" (click)="verPaciente(paciente._id)">
                    <div class="user_profile_info">
                      <div style="background-image: url('../../../../../assets/img/profilepic2.jpg');" class="profile_pic_container"></div>
                      <p style="margin-top: 10px;" class="user_name">{{paciente.nombre}}</p>
                    </div>
                  </a>
                  <div style="padding-top: 0;" class="card-body text-center">
                    <a routerLink="/nutri/update-info-paciente" class="card-link" (click)="editar(paciente._id)">
                      <span class="material-icons iconosEdicion">
                        create
                      </span>
                    </a>
                    <a style="cursor: pointer;" (click)="eliminar(paciente._id)" class="card-link">
                      <span class="material-icons iconosEdicion">
                        delete
                      </span>
                    </a>
                  </div>

                </div>

              </div>
            </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
