/*
_________________________
|						|
|		  navbar   		|
|						|
-------------------------
*/

.iconosEdicion{
    color: green;
}

.iconosEdicion:hover{
    color: darkgreen;
}

.bg-light {
    background-color: #ffff !important;
    border: 0.5px solid #d9d9d9;
}

.navbar{
    position: sticky;
   top: 0;
   z-index: 100;
}

.navbar-brand{
    position: absolute;
   left: 12%;
}

.navbar-nav{
    position: relative;
    left: 77%;
    flex-direction: row;
  
    
}

.navbar-nav .nav-item{
    padding-left: 5px;
}

    
.mini-profilepic {
    background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}
.image-profile {
    height: 100%;
    -webkit-touch-callout: none;
    width: 100%;
}
/*
_________________________
|						|
|		  body    		|
|						|
-------------------------
*/

.container-pacientes{
    font-family: 'Raleway', sans-serif;
    background-color:#ffff;
    border: 0.5px solid #d9d9d9;
    margin-bottom: 50px;
}
.pacientes-titulo{
    height: 60px;
    text-align: center;
    font-size: 29px;
    line-height: 60px;
    border-bottom: 0.5px solid #d9d9d9;
} 
.pacientes-buscador{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pacientes-buscador input{
    padding: 6px;
    font-size: 17px;
    margin-left: 10px;
    border: none;
    border-bottom: solid 0.5px black;
    width: 30%;
}

.buscar{
    background-color: transparent;
    background-color: green;
    border-color: green;
    margin-left: 5px;
}
.buscar-op{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.dropdown{
    float: left;
}
.agregar{
    margin-left: 5px;
    background-color: green;
    border-color: green;
}

.pacientes-buscador button:hover{
    background-color: white;
    border-color: green;
    color: green;
}

.container-gallery{
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 20px;
}
.user_profile_info{
    margin-top: 20px;
    text-align: center;
}
.profile_pic_container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgrey;
}
.user_profile_info p{
    cursor: pointer;
}
/*
_________________________
|						|
|	    Responsive  	|
|						|
-------------------------
*/
@media (max-width: 650px) { 
    .profile_pic_container{
        width: 80px;
        height: 80px;
    }
    .pacientes-buscador input{
        width: 70%;
    }
    .buscar-op{
        position: relative;
        top: 0;
        margin-top: 5px;
        transform: translateY(0);
        left: 10px;
    }
}
 
@media (min-width: 768px) and (max-width: 991.98px) { 
}