  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="container-pacientes"> 
          <div class="pacientes-titulo">
            <p>Tus pacientes</p>
          </div>
          <div class="pacientes-buscador">
            <input type="text" placeholder="Buscar...">
            <a routerLink="/nutri/registro-paciente"><button type="button" class=" agregar btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Agregar paciente
            </button></a>
            
          </div>
          
           <!-- Profile Feed --> 
            <div class="container-gallery">
              
              <div class="row row-gallery " id="gallery-1">
                
                <div class="col-4 col-sm-4 col-lg-4 column">
              
                  <div class="user_profile_info">
                    <div style="background-image: url('../../../../../assets/img/profilepic2.jpg');" class="profile_pic_container"></div>
                    <p class="user_name">Ana Gómez</p>
                  </div>
                
                </div>

                <div class="col-4 col-sm-4 col-lg-4 column">
              
                  <div class="user_profile_info">
                    <div style="background-image: url('../../../../../assets/img/profilepic3.jpg');" class="profile_pic_container"></div>
                    <p class="user_name">Sofia Herrera</p>
                  </div>
                
                </div>

                <div class="col-4 col-sm-4 col-lg-4 column">
              
                  <div class="user_profile_info">
                    
                    <div style="background-image: url('../../../../../assets/img/profilepic4.jpg');" class="profile_pic_container"></div>
                    <p class="user_name">Mario Quintero</p>
                  </div>
                
                </div>

                <div class="col-4 col-sm-4 col-lg-4 column">
              
                  <div class="user_profile_info">
                    
                    <div style="background-image: url('../../../../../assets/img/profilepic5.jpg');" class="profile_pic_container"></div>
                    <p class="user_name">Elena Nuñez</p>
                  </div>
                
                </div>

                <div class="col-4 col-sm-4 col-lg-4 column">
              
                  <div class="user_profile_info">
                    
                    <div style="background-image: url('../../../../../assets/img/profilepic6.jpg');" class="profile_pic_container"></div>
                    <p class="user_name">Victor Ruíz</p>
                  </div>
                
                </div>

                <div class="col-4 col-sm-4 col-lg-4 column">
              
                  <div class="user_profile_info">
                    
                    <div style="background-image: url('../../../../../assets/img/profilepic7.jpg');" class="profile_pic_container"></div>
                    <p class="user_name">Antonio Palaceta</p>
                  </div>
                
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>