/*
_________________________
|						|
|		 general		|
|						|
-------------------------
*/
/*body section {
	display: none;
}
#inicio {
	display: block;
}*/
html{
	background: url(../imgs/background2.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}
body{
	height: 100%;
}
/*.selected{
	color: black;
  	border-bottom: 1px solid;
  	border-color: green;
}*/


/*
_________________________
|						|
|		  menu     		|
|						|
-------------------------
*/
#header {
	font-family: 'Rubik', sans-serif;
	height: 100px;
	position: relative;
	font-size: 45px;
	background-color: white;
	box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 0.2);
	opacity: 0.9;
}
#header img{
	width: 50px;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
	left: 20px;
}

#header ul{
	color: grey;
	position: absolute;
	font-size: 20px;
	transform: translateY(-50%);
	top: 50%;
}

#header li {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}

#header li:hover { 
	color: black;
  	border-bottom: 1px solid;
  	border-color: green;
}

#header a{
	text-decoration: none;
	color: grey;
	margin-right: 20px;
	cursor: pointer;
}

#header a:hover { 
	color: green;
}

#header .menu{
	left: 100px;
}
#header .ini-reg{
	right: 20px;
}


/*
_________________________
|						|
|		  footer 		|
|						|
-------------------------
*/
#footer{
	font-family: 'Rubik', sans-serif;
	height: 100px;
	font-size: 18px;
	background-color: white;
	opacity: 0.9;
	text-align: center;
}
#footer h1{
	line-height: 100px;
}


/*
_________________________
|						|
|		  cuerpo 		|
|						|
-------------------------
*/
section{
	padding: 10px;
}
#formularioInicioSesion{
	width: 500px;
	height: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	border-radius: 5px;
	opacity: 0.9;
}

/*
_________________________
|						|
|		  cuerpo 		|
|						|
-------------------------
*/
#info{
	font-family: 'Rubik', sans-serif;
	text-align: center;
}
#info img{
	margin-top: 70px;
	width: 100px;
}
#info h2{
	color: grey;
	margin-top: 10px;
	font-size: 30px;
}

/*
_________________________
|						|
|		formulario 		|
|						|
-------------------------
*/
#info form{
	margin-top: 25px;
}
#info form input[type=text]{
	text-align: center;
	margin: none;
	width: 60%;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	padding: 12px 20px;
	border: none;
	border-bottom: 1px solid;
	border-color: #008939;
}
#info form input[type=submit]{
	cursor: pointer;
	text-align: center;
	width: 50%;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	padding: 12px 20px;
	border: none;
	border-radius: 10px;
	background-color: #008939;
	color: white;
}
#info form input[type=submit]:hover {
	color: #D3FFB6;
}

.sig{
	cursor: pointer;
	text-align: center;
	width: 50%;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	padding: 12px 20px;
	border: none;
	border-radius: 10px;
	background-color: #008939;
	color: white;
}
.sig:hover {
	color: #D3FFB6;
}

#info form a{
	text-decoration: none;
	color: black;
}
/*#info form h3{
	font-size: 50px;
	line-height: 1.5;
}*/
#info form a:hover {
	color: green;
}
.reg2{
	display: none;
}
.reg3{
	display: none;
}
.error{
	color: red;
	margin-top: 15px;
	font-size: 20px;
	display: none;
}



