/*
_________________________
|						|
|		 general		|
|						|
-------------------------
*/
body section {
	display: none;
}
#inicio {
	display: block;
}
html{
	background: url(../imgs/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}
body{
	height: 100%;
}
.selected{
	color: black;
  	border-bottom: 1px solid;
  	border-color: green;
}


/*
_________________________
|						|
|		  menu     		|
|						|
-------------------------
*/
#header {
	font-family: 'Rubik', sans-serif;
	height: 100px;
	position: relative;
	font-size: 45px;
	background-color: white;
	box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 0.2);
	opacity: 0.9;
}
#header img{
	width: 50px;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
	left: 20px;
}

#header ul{
	color: grey;
	position: absolute;
	font-size: 20px;
	transform: translateY(-50%);
	top: 50%;
}

#header li {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}

#header li:hover { 
	color: black;
  	border-bottom: 1px solid;
  	border-color: green;
}

.ini-reg a{
	text-decoration: none;
	color: grey;
	margin-right: 20px;
	cursor: pointer;
}

#header a:hover { 
	color: green;
}

#header .menu{
	left: 100px;
}
#header .ini-reg{
	right: 0;
}

/*
_________________________
|						|
|		  footer 		|
|						|
-------------------------
*/
#footer{
	margin-top: 20px;
	font-family: 'Rubik', sans-serif;
	height: 100px;
	font-size: 18px;
	background-color: white;
	opacity: 0.9;
	text-align: center;
}
#footer h1{
	line-height: 100px;
}

/*
_________________________
|						|
|		 cuerpo 1 		|
|						|
-------------------------
*/
section{
	/*position: relative;
	height: 88.89%;*/
	padding: 10px;
	height: 82%;
}

#message {
	margin-top: 20px;
	position: relative;
	width: 50%;
	height: 100%;
	font-family:'Open Sans', sans-serif;
	left: 100%;
	transform: translateX(-100%);
}

.info{
	position: relative;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.info h1{
	margin-right: 15px;
	text-align: right;
	margin-top:20px;
	font-size: 50px;
	margin-bottom: 20px;
}
.info h2{
	margin-left: 15px;
	font-size: 40px;
	margin-bottom: 20px;
}
.info p{
	line-height: 1.5;
	font-size: 20px;
	margin-bottom: 15px;
}
.info ul{
	margin-left: 15px;
	margin-top: 20px;
	text-align: left;
	font-size: 20px;
	list-style-type: square;
}
.info li{
	margin-left: 50px;
	margin-bottom: 14px;
}

/*
_________________________
|						|
|		 botones		|
|						|
-------------------------
*/
.unirse{
	margin-top: 25px;
	margin-left: -50px;
	background-color: transparent;
  	border: 1px solid;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 22px;
}
.unirse a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.unirse:hover { 
	cursor: pointer;
	color: green;
  	border: 1px solid;
  	border-color: green;
}

.aprende{
	margin-top: 25px;
	background-color: transparent;
  	border: 1px solid;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 22px;
}
.aprende:hover { 
	cursor: pointer;
	color: green;
  	border: 1px solid;
  	border-color: green;
}