<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="container-perfil-info">

        <div class ="perfil-info">
          <a class = "profile-photo">
            <div style="background-image: url('../../../../../assets/img/profilepic.jpg');" class="profile_pic_container"></div>
          </a>
          <div class="info" style="margin-top: 0;">
            <h4> Estefania Fuentes <span> (email@example.com)</span> </h4>
            <div class = "info-data">
              <p i18n="DescripcionCantidadNutris">Nutriólogos: 10</p>
              <p i18n="DescripcionCantidadPacientes">Pacientes: 20</p>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-lg btn-secondary btn-cerrar" i18n="CerrarSesionNutri"> Cerrar sesión </a>
      </div>
      <div class="container-horario">
        <div class="horario-titulo">
          <p i18n="HorarioTitulo">Horario</p>
        </div>
        <table class="table">
          <thead class="p-3 mb-2 bg-success text-white">
            <tr>
              <th scope="col" i18n="DescripcionFecha">Fecha</th>
              <th scope="col" i18n="DescripcionNombre">Nombre</th>
              <th scope="col" i18n="DescripcionApellido">Apellido</th>
              <th scope="col" i18n="DescripcionHorario">Horario</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of pacHorario">
              <th scope="row">22/10/20</th>
              <td>{{paciente.nombre}}</td>
              <td>{{paciente.apellido}}</td>
              <td>{{paciente.horario}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a routerLink="/nutri/registro-nutri"><button type="button" class=" agregar btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" i18n="DescripcionBotonAgregarNutriHorario">
        Agregar paciente
      </button></a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
