/*
_________________________
|						|
|		  navbar   		|
|						|
-------------------------
*/
.bg-light {
    background-color: #ffff !important;
    border: 0.5px solid #d9d9d9;
}

.navbar{
    position: sticky;
   top: 0;
   z-index: 100;
}

.navbar-brand{
    position: absolute;
   left: 12%;
}

.navbar-nav{
    position: relative;
    left: 77%;
    flex-direction: row;
  
    
}

.navbar-nav .nav-item{
    padding-left: 5px;
}

    
.mini-profilepic {
    background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}
.image-profile {
    height: 100%;
    -webkit-touch-callout: none;
    width: 100%;
}

/*
_________________________
|						|
|		  body    		|
|						|
-------------------------
*/
body {
    background-color:  #f2f2f2;
}
.card{
    background-color: salmon;
    height: 800px;
    
}

/*
_________________________
|						|
|		  Responsive  	|
|						|
-------------------------
*/

@media (max-width: 575.98px) { 
    .navbar-nav{
       
        left: 67%;
       
        
    } 

    .navbar-brand img{
        width: 40px;
        height: 40px;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar-nav{
       
        left: 70%;
       
      
        
    }
    .navbar-brand img{
        width: 40px;
        height: 40px;
    }

 }


@media (min-width: 768px) and (max-width: 991.98px) { 
   
    .navbar-nav{
       
        left: 78%;
       
    }

 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
   
    
 }


@media (min-width: 1200px) { 
    .navbar-nav{
       
        left: 80%; 
        
    }
 }

/*
_________________________
|						|
|		  body    		|
|						|
-------------------------
*/
.container-perfil-info {
	position: relative;
	font-family: 'Raleway', sans-serif;
	background-color: #ffff;
	border: 0.5px solid #d9d9d9;
    height: 200px;
}
.perfil-info {
    background-color: red;
	position: absolute;
	left: 12%;
	top: 50%;
	transform: translateY(-50%);
	span {
		font-size: 14px;
    }
}
.profile-photo {
	float: left;
}
.profile_pic_container {
	width: 130px;
	height: 130px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	background-position: center;
}
.info {
	margin-top: 30px;
	margin-left: 20px;
    float: right;
    background-color: yellow;
}
.info-data {
	top: 20px;
	font-size: 20px;
	p {
		display: inline;
		padding-right: 20px;
	}
}
.bi-gear-fill {
	position: relative;
	left: 90%;
	top: 10px;
}
.btn-cerrar {
	font-size: 12px;
	width: 110px;
	background-color: green;
	position: absolute;
	left: 80%;
	bottom: 15px;
}
.container-horario {
	font-family: 'Raleway', sans-serif;
	background-color: #ffff;
	border: 0.5px solid #d9d9d9;
}
.horario-titulo {
	height: 60px;
	text-align: center;
	font-size: 29px;
	line-height: 60px;
	border-bottom: 0.5px solid #d9d9d9;
}
.agregar {
	position: absolute;
	right: 15px;
	background-color: green;
	border-color: green;
	margin-bottom: 20px;
	&:hover {
		background-color: white;
		border-color: green;
		color: green;
	}
}
@media (max-width: 650px) {
	.container-perfil-info {
		height: 270px;
	}
	.perfil-info {
		position: relative;
		left: 0px;
		top: 5%;
		transform: translateY(-0%);
	}
	.profile-photo {
		float: left;
		position: absolute;
		top: 0px;
		left: 7%;
	}
	.profile_pic_container {
		width: 100px;
		height: 100px;
	}
	.info {
		top: -25px;
		left: 38%;
		position: absolute;
		width: 40%;
	}
	.info-data {
		p {
			font-size: 4vw;
		}
	}
	.btn-cerrar {
		width: 33%;
		left: 65%;
		bottom: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.container-perfil-info {
		height: 270px;
	}
	.perfil-info {
		position: relative;
		left: 5%;
		top: 10%;
		transform: translateY(-0%);
		span {
			font-size: 12px;
		}
	}
	.profile-photo {
		float: left;
		position: absolute;
		top: 0px;
		left: 7%;
	}
	.profile_pic_container {
		width: 120px;
		height: 120px;
	}
	.info {
		top: -15px;
		left: 31%;
		position: absolute;
		width: 50%;
	}
	.info-data {
		p {
			font-size: 15px;
			top: 100px;
			padding-right: 0px;
		}
	}
	.btn-cerrar {
		width: 33%;
		left: 65%;
		bottom: 10px;
	}
}

