<div class="row">
    <div class="col-sm-2"></div>
    <div id="nutri_profile" class="col-sm-8">
        <div class="profile_pic_container"> 
            <img src="../../../../../assets/img/profilepic.jpg" class="profile_pic" alt="profile pic">
        </div>
        <div class="prodile_info_container">
            <p class="nombre_nutri">Estefania Fuentes Avalos</p>
            <p class="info_nutri">Numero de nutriologos: 5</p>
            <p class="info_nutri">Numero de pacientes: 25</p>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div id="buttons_container" class="col-sm-8">
        <a href="registroUsuario.html"><button type="button" class="btn btn-outline-success opciones">Agregar pacientes</button></a>
        <a href="registroNutri.html"><button type="button" class="btn btn-outline-success opciones">Agregar nutriologos</button></a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hora</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver perfil</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>9:00 A.M.</td>
                <td>Diego Gerardo Navarro González</td>
                <td><a href="inicioUsuario.html">Ver</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>9:30 A.M.</td>
                <td>Carlos Alberto Maldonado Viveros</td>
                <td><a href="inicioUsuario.html">Ver</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>10:00 A.M.</td>
                <td>Jimena Bermudez Bautista</td>
                <td><a href="inicioUsuario.html">Ver</a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>10:30 A.M.</td>
                <td>Nancy Elizabeth Medina Ramírez</td>
                <td><a href="inicioUsuario.html">Ver</a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>11:00 A.M.</td>
                <td>Diego Gerardo Navarro González</td>
                <td><a href="inicioUsuario.html">Ver</a></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>11:30 A.M.</td>
                <td>Nancy Elizabeth Medina Ramírez</td>
                <td><a href="inicioUsuario.html">Ver</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>