<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo-prov.png" width="50" height="50" alt="">
    </a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Idioma
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Eng</a>
            <a class="dropdown-item" href="#">Esp</a>
          </div>
        </li>
        <li routerLinkActive="selected"><a routerLink="/" i18n="Index">Inicio</a></li>
        <li routerLinkActive="selected"><a routerLink="/acerca" i18n="Header | AcercaDe">Acerca de</a></li>
        <li routerLinkActive="selected"><a routerLink="/comunidad" i18n="Header | Comunidad">Comunidad</a></li>
        <li routerLinkActive="selected"><a routerLink="/beneficios" i18n="Header | Beneficios">Beneficios</a></li>
        <li routerLinkActive="selected"><a routerLink="/w3c" i18n="Header | w3c">W3C</a></li>
        <li ><a (click)="login()" i18n="Header | Inicio-Sesion">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>
 
</header>
