<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo-prov.png" width="50" height="50" alt="">
    </a>
    <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-sm " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              idioma
             </button>
       <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
       <button class="dropdown-item" type="button">Esp</button>
       <button class="dropdown-item" type="button">Eng</button>

    </div>
         </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="selected"><a routerLink="/">Inicio</a></li>
        <li routerLinkActive="selected"><a routerLink="/acerca">Acerca de</a></li>
        <li routerLinkActive="selected"><a routerLink="/comunidad">Comunidad</a></li>
        <li routerLinkActive="selected"><a routerLink="/beneficios">Beneficios</a></li>
        <li routerLinkActive="selected"><a routerLink="/w3c">W3C</a></li>
        <li routerLinkActive="selected"><a routerLink="/iniciarSesion">Iniciar Sesión</a></li>
        <li routerLinkActive="selected"><a routerLink="/registro">¡Únete ahora!</a></li>
      </ul>
    </div>
  </nav>
</header>
