<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo-prov.png" width="50" height="50" alt="">
    </a>
    <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-sm " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              idioma
             </button>
       <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
       <button class="dropdown-item" type="button">Esp</button>
       <button class="dropdown-item" type="button">Eng</button>

    </div>
         </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="selected"><a routerLink="/">Inicio</a></li>
        <li routerLinkActive="selected"><a routerLink="/acerca">Acerca de</a></li>
        <li routerLinkActive="selected"><a routerLink="/comunidad">Comunidad</a></li>
        <li routerLinkActive="selected"><a href="beneficios.html">Beneficios</a></li>
        <li routerLinkActive="selected"><a href="SpecialPage.html">W3C</a></li>
        <li routerLinkActive="selected"><a href="inicioSesion.html">Iniciar Sesión</a></li>
        <li routerLinkActive="selected"><a href="registro.html">¡Únete ahora!</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- <!DOCTYPE html>
<html lang="es">
	<head>
		<title>NutriFeed</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
	</head>
	<body>

		<header id="header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">
					<img src="../../../img/logo-prov.png" width="50" height="50" alt="">
				</a>
				<div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-sm " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  idioma
                 </button>
       		<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
       		<button class="dropdown-item" type="button">Esp</button>
       		<button class="dropdown-item" type="button">Eng</button>

        </div>
             </div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="selected"><a href="index.html">Inicio</a></li>
						<li><a href="acerca.html">Acerca de</a></li>
						<li><a href="comunidad.html">Comunidad</a></li>
						<li><a href="beneficios.html">Beneficios</a></li>
						<li><a href="SpecialPage.html">W3C</a></li>
						<li><a href="inicioSesion.html">Iniciar Sesión</a></li>
						<li><a href="registro.html">¡Únete ahora!</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<script src="../node_modules/jquery/dist/jquery.js"></script>
		<script src="../node_modules/jquery/dist/jquery.slim.js"></script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	</body>
</html> -->
