<!DOCTYPE html>
<html lang="es">
	<body>
		<section id="inicio">
			<div id="message">
				<div class="info">
					<h2>NutriFeed</h2>
					<p class="ad">"No tienes que comer menos, solo tienes que comer mejor."</p>
					<p>Experimenta nuevos sabores y vive experiencias a través de la comida saludable.</p>
					<form action="acerca.html">
					<button class="aprende">Aprende más</button></form>
				</div>
			</div>
		</section>

		<script src="../node_modules/jquery/dist/jquery.js"></script>
		<script src="../node_modules/jquery/dist/jquery.slim.js"></script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	</body>
</html>
