<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
              <!-- Side Navbar -->
              <nav class=" d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a i18n="Enero | Mes_nutri" class="nav-link active" href="#"> Enero <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Febrero | Mes_nutri" class="nav-link" href="#">Febrero</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Marzo | Mes_nutri" class="nav-link" href="#">Marzo</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Abril | Mes_nutri" class="nav-link" href="#">Abril</a>
                  </li>
                  <li class="nav-item">
                    <a  i18n="Mayo | Mes_nutri" class="nav-link" href="#">Mayo</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Junio | Mes_nutri" class="nav-link" href="#">Junio</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Julio | Mes_nutri"  class="nav-link" href="#">Julio</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Agosto| Mes_nutri"class="nav-link" href="#">Agosto</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Septiembre | Mes_nutri" class="nav-link" href="#">Septiembre</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Octubre | Mes_nutri" class="nav-link" href="#">Octubre</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Noviembre | Mes_nutri" class="nav-link" href="#">Noviembre</a>
                  </li>
                  <li class="nav-item">
                    <a i18n="Diciembre | Mes_nutri" class="nav-link" href="#">Diciembre</a>
                  </li>
                </ul>
              </nav>
      </div>
      <div class="col-md-8">
              <!-- Perfil de usuario -->
        <div class="container-perfil-info"> 
        
          <a class = "profile-photo">
          <img class="photo img-circle" src="../../../../../assets/img/profilepic.jpg" alt="Avatar" width="130" height="130" >
          </a>
          
          <div class ="perfil-info">
          <h4> Daniela Fernandez <span> (email@example.com )</span> </h4> 
          <div class = "info-data">
          <p i18n="edadPaciente_nutri">24 años</p>
          <p > 1.70 m</p>
          <p >72 kg</p>
          <div> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>CDMX, México </div>
        </div>
        
        </div>
        <a href="" routerLink="/nutri/ver-dieta-paciente" class="btn btn-lg btn-secondary btn-cerrar"> Ver dieta </a>
        <a href="" routerLink="/nutri/registro-dieta" class="btn btn-lg btn-secondary btn-cerrar"> Agregar dieta </a>
        
        <!-- Dropdown mes -->
    <div class="btn-group drop" >
      <button i18n="mes_nutri" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mes
      </button>
      <div class="dropdown-menu">
        <a i18n="Enero_nutri" class="dropdown-item" href="#">Enero</a>
        <a i18n="Febrero_nutri" class="dropdown-item" href="#">Febrero</a>
        <a i18n="Marzo_nutri" class="dropdown-item" href="#">Marzo</a>
        <a i18n="Abril_nutri" class="dropdown-item" href="#">Abril</a>
        <a i18n="Mayo_nutri" class="dropdown-item" href="#">Mayo</a>
        <a i18n="Junio_nutri" class="dropdown-item" href="#">Junio</a>
        <a i18n="Julio_nutri" class="dropdown-item" href="#">Julio</a>
        <a i18n="Agosto_nutri" class="dropdown-item" href="#">Agosto</a>
        <a i18n="Septiembre_nutri" class="dropdown-item" href="#">Septiembre</a>
        <a i18n="Octubre_nutri" class="dropdown-item" href="#">Octubre</a>
        <a i18n="Noviembre_nutri" class="dropdown-item" href="#">Noviembre</a>
        <a i18n="Diciembre_nutri" class="dropdown-item" href="#">Diciembre</a>
      </div>
    </div>
        
        </div>
            <!-- Menu semanas -->
        <div class = "menu-semanas">
          <a class="semana selected semana1">
            <span i18n="Semana1_nutri">Semana 1</span>
        </a>
        <a class="semana semana2">
         <span i18n="Semana2_nutri">Semana 2</span>
        </a>
        <a class="semana semana3">
            <span i18n="Semana3_nutri">Semana 3</span>
        </a>
        <a class=" semana semana4">
            <span i18n="Semana4_nutri">Semana 4</span>
        </a>
  
        </div>
  
               <!-- Profile Feed --> 
        <div class="container-gallery">
          <div class="row row-gallery " id="gallery-1">
              <div class="col-4 col-sm-4 col-lg-4 column">
                <img class="w-100 h-100" src="../../../../../assets/img/feed1.jpg" data-toggle="modal" data-target="#modalComidas">
              </div>
              <div class="col-4 col-sm-4 col-lg-4 column">
                <img class="w-100 h-100" src="../../../../../assets/img/feed2.jpg" data-toggle="modal" data-target="#modalComidas">
              </div>
              <div class="col-4 col-sm-4 col-lg-4 column">
                <img class="w-100 h-100" src="../../../../../assets/img/feed3.jpg" data-toggle="modal" data-target="#modalComidas">
              </div>
          </div>
        </div>
        <div class="row row-gallery" id="gallery-2">
              <div class="col-4 col-sm-4 col-lg-4 column">
                <img class="w-100 h-100"  src="../../../../../assets/img/feed4.jpg" data-toggle="modal" data-target="#modalComidas">
              </div>
              <div class="col-4 col-sm-4 col-lg-4 column">
                <img class="w-100 h-100" src="../../../../../assets/img/feed5.jpg" data-toggle="modal" data-target="#modalComidas">
              </div>
              <div class="col-4 col-sm-4 col-lg-4 column">
                <img class="w-100 h-100" src="../../../../../assets/img/no-image.png" data-toggle="modal" data-target="#modalSubirC">
              </div>
            </div>
            <div class="row row-gallery" id="gallery-2">
              <div class="col-4 col-sm-4 col-lg-4 column">
                  <img class="w-100 h-100" src="../../../../../assets/img/no-image.png" data-toggle="modal" data-target="#modalSubirC">
                </div>
            </div>
          </div>
  
          
      <div class="col-md-2">
      </div>
      </div>
      
      <!-- Modal Ver comidas del día: modalComidas Pop up Carousel -->
  <div class="modal fade" id="modalComidas" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row row-carousel">
          <div class="col">
            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
              data-interval="false">
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block w-100 "
                    src="../../../../../assets/img/profilepic.jpg"
                    alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100"
                    src="../../../../../assets/img/c2.jpg"
                    alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100"
                    src="../../../../../assets/img/c3.jpg"
                    alt="Third slide">
                </div>
              </div>
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              
            </div>
            <!--/.Carousel Wrapper-->
          </div>
          <div class= "description">
              <div class= "description-text" >
                <h2 i18n="descripcion_nutri">
                  Descripción
                </h2>
                <p i18n="desayuno post_nutri">
                  Desayuno: Huevo con nopales
                </p>
                <p i18n="comida post_nutri"> 
                  Comida: Pollo a la mexicana
                </p>
                <p i18n="cena post_nutri">
                  Cena: Sandwich de pavo
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
     
  </div>
  <!--Funcionalidad pop up carousel-->
  <script>
      $(document).ready(function() {
        $('.mdb-select').materialSelect();
       });
      </script>
</body>