 <div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="container-info">
        <div class="registro-titulo">
          <p i18n="TituloRegistroNutriologo">Actualización de paciente en el horario</p><br>
        </div>
        <div class="form-container">
          <form [formGroup]="modeloNutriologaHorario" (ngSubmit)="actualizarPacienteHorario()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNombre" i18n="NombreRegistroNutriDescripcion">Nombre</label>
                <input type="nombre" formControlName="nombre" class="form-control" id="inputNombre" value="{{paciente.nombre}}" i18n-placeholder="AgregarNombreRegistroNutri_Nutri_placeholder">
              </div>
              <div class="form-group col-md-6">
                <label for="inputApellido" i18n="ApellidoRegistroNutriDescripcion">Apellido</label>
                <input type="apellido" formControlName="apellido" class="form-control" id="inputApellido" value="{{paciente.apellido}}" i18n-placeholder="AgregarApellidoRegistroNutri_Nutri_placeholder">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail4" i18n="MailRegistroNutriDescripcion">Email</label>
              <input type="email" formControlName="correoUsuario" class="form-control" id="inputEmail" value="{{paciente.correoUsuario}}" i18n-placeholder="AgregarMailRegistroNutri_Nutri_placeholder">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputHora" i18n="HoraRegistroConsulta">Hora de consulta</label>
                <input type="text" formControlName="hora" class="form-control" id="inputHora" value="{{paciente.hora}}">
              </div>
              <div class="form-group col-md-6">
                <label for="inputFecha" i18n="FechaConsulta">Fecha de consulta</label>
                <input type="text" formControlName="fecha" class="form-control" id="inputFecha" value="{{paciente.fecha}}">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" i18n="BotonRegistrarNutri">Actualizar</button>
          </form>
        </div>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

