<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="inicio.html"><img src="../../../../../assets/img/logo-prov.png" width="48" height="48" alt="logo"></a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="pacientes.html"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg></a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" href="nutriologos.html"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
      </svg></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="recetas.html"><svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
        <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
      </svg></a>
    </li>
    <li class="nav-item">
    <a href="inicio.html"><span class="mini-profilepic" role="link" tabindex="0" style="width: 40px; height: 40px;"><img alt="Foto del perfil" class="image-profile" data-testid="user-avatar" draggable="false" src="../../../../../assets/img/profilepic.jpg"></span></a>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="container-info"> 
        <div class="registro-titulo">
          <p>Registro de Nutriólogo</p>
        </div>
        <div class="form-container">
          <form [formGroup]="modeloNutriologa" (ngSubmit)="enviar()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNombre">Nombre</label>
                <input type="nombre" formControlName="nombre" class="form-control" id="inputNombre" placeholder="Nombre">
              </div>
              <div class="form-group col-md-6">
                <label for="inputApellido">Apellido</label>
                <input type="apellido" formControlName="apellido" class="form-control" id="inputApellido" placeholder="Apellido">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail4">Email</label>
              <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="Correo electrónico">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCiudad">Ciudad</label>
                <input type="text" formControlName="ciudad" class="form-control" id="inputCiudad">
              </div>
              <div class="form-group col-md-6">
                <label for="inputSalario">Salario</label>
                <input type="text" formControlName="salario" class="form-control" id="inputSalario">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
       
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
