<section id="inicioSesion">
  <div id="formularioInicioSesion">
    <div id="info">
      <img src="../../../../../assets/img/logo-prov.png" alt="Logo">
      <h2>Registro de Nutriólogo</h2>
      <form class="formulario" action="nutri.html">
        <input type="text" id="fnombreNutri" name="fnombreNutri" placeholder="Nombre de nutriólogo" required><br><br><br>
        <input type="text" id="salario" name="salario" placeholder="Salario" required><br><br><br>
        <input type="submit" value="Registrar"><br><br>
      </form>
    </div>
  </div>
</section>
