@import "personalizacion";
/*
  _________________________
  |						|
  |		  footer 		|
  |						|
  -------------------------
  */
  #footer{
    margin-top: $size-20;
    font-family: $font-family-rubik;
    height: $size-100;
    font-size: 18px;
    background-color: $white;
    opacity: 0.9;
    text-align: $center;

    & .content{
        position: $relative;
        transform: translateY(-$scale-50);
        top: $scale-50;
        line-height: $size-30;
    }
}