.tp{
    margin-top: 25px;
    margin-bottom: 25px;
}

.elimination{
    color: red;
}

.px{
    margin-bottom: 10px;
    margin-left: 30%;
    width: 40%;
    background-color: $verde_nutrifeed;
}

.px:hover{
    color: $verde_nutrifeed;
    background-color: #fff;
}