$white: #fff !default;
$black: #000 !default;
$red: red !default;
$green-color: green;
$gray-color: gray;
$green-border: #008939;
$green-ligth:#D3FFB6;
$red-hover: #C20808;

$verde_nutrifeed: rgb(8, 121, 8);

$primary: $green-color !default;
$secondary: $gray-color !default;

// Sizes
$full-size: 100%;
$size-0: 0px;
$size-10: 10px;
$size-20: 20px;
$size-30: 30px;
$size-40: 40px;
$size-50: 50px;
$size-70: 70px;
$size-80: 80px;
$size-100: 100px;

$scale-10: 10%;
$scale-20: 20%;
$scale-25: 25%;
$scale-30: 30%;
$scale-40: 40%;
$scale-50: 50%;
$scale-70: 70%;
$scale-80: 80%;

//  Fonts

$web-font-path1: "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" !default;
$web-font-path2: "https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" !default;
$web-font-path3: "https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Quicksand:wght@400;600&family=Signika&family=Ubuntu:ital,wght@1,300&display=swap" !default;
@import url($web-font-path1);
@import url($web-font-path2);
@import url($web-font-path3);

$sans-serif-font: sans-serif;
$font-family-quicksand: 'Quicksand', $sans-serif-font;
$font-family-rubik: 'Rubik', $sans-serif-font;
$font-family-opensans: 'Open Sans', $sans-serif-font;
$font-family-caveat: 'Caveat', cursive;

//  Alination

$center: center;

$fixed: fixed;
$relative: relative;

$pointer: pointer;

//  Mixins

@mixin transformation ($scaleX, $scaleY, $position, $left, $top) {
  position: $position;
  transform: translateX(-$scaleX) translateY(-$scaleY);
  left: $left;
  top: $top;
}

//  Imgs
$img-backgorund: "../imgs/background.jpg";
$img-backgorund1: "../imgs/background1.jpg";