@import "../personalizacion";
@import "../../node_modules/bootstrap/scss/bootstrap.scss"; 
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "header";
@import "footer"; 
@import "cuerpo"; 
@import "responsive"; 

body, html {
    font-family: $font-family-quicksand;
    height: $full-size;
    background: url($img-backgorundDieta) no-repeat $center $center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}