<section id="inicioSesion">
  <div id="formularioInicioSesion">
    <div id="info">
      <img src="../../../../../assets/img/logo-prov.png" alt="Logo">
      <h2 i18n="Registro-Titulo">Unirse</h2><br>
      <form class="formulario">
        <div class="reg1">
          <input type="text" id="fnombreUsuario" name="fnombreUsuario" placeholder="Nombre de usuario" required i18n="Forms | Nombre"><br><br><br>
          <input type="text" id="correoUsuario" name="correoUsuario" placeholder="Correo electrónico" required i18n="Forms | Correo"><br><br><br><br>
          <button type="button" class="sig" id="1" routerLink="/iniciarSesion" i18n="Boton-Siguiente">Siguiente</button>
        </div>
        <h3 class="error" i18n="Validacion">Llena todos los campos para continuar</h3>
      </form>
    </div>
  </div>
</section>
