@import "../../../../../styles/personalizacion";

/*
_________________________
|						|
|		  navbar   		|
|						|
-------------------------
*/
.navbar {
	position: sticky;
	top: 0;
	z-index: 100;
}
.bg-light {
	background-color: #ffff !important;
	border: 0.5px solid #d9d9d9;
}
.navbar-brand {
	position: absolute;
	left: 12%;
}
.navbar-nav {
	position: relative;
	left: 77%;
	flex-direction: row;
	.nav-item {
		padding-left: 5px;
	}
}
.mini-profilepic {
	background-color: #fafafa;
	background-color: rgba(var(--b3f,250,250,250),1);
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	overflow: hidden;
	position: relative;
}
.image-profile {
	height: 100%;
	-webkit-touch-callout: none;
	width: 100%;
}

/*
_________________________
|						|
|		  body    		|
|						|
-------------------------
*/

.container-fluid {
	height: $full-size;
}
.drop {
	display: none;
}
.container-perfil-info {
	font-family: $font-family-raleway;
	background-color: $white;
	border: 0.5px solid #d9d9d9;
	height: $size-200;
}
.profile-photo {
	position: $relative;
	top: $scale-10;
	margin-left: 28px;
	img {
		border-radius: $scale-50;
	}
}
.perfil-info {
	position: $relative;
	left: 29%;
	bottom: 45%;
	width: $scale-50;
	span {
		font-size: 14px;
	}
}
.bi-gear-fill {
	position: $relative;
	left: 73%;
	bottom: 15%;
}
.info-data {
	position: $relative;
	top: $size-20;
	p {
		display: inline;
		padding-right: $size-20;
	}
}
.btn-cerrar {
	font-size: 12px;
	width: 110px;
	height: $size-30;
	background-color: $verde_nutrifeed;
	position: $relative;
	left: 85%;
	bottom: 28%;
}
.menu-semanas {
	height: 8%;
	-webkit-box-align: $center;
	-webkit-align-items: $center;
	-ms-flex-align: $center;
	align-items: $center;
	color: #8e8e8e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	font-size: 14px;
	font-weight: 500;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	letter-spacing: 1px;
	text-align: center;
	span {
		margin: $size-50;
	}
}
a.semana {
	-webkit-box-align: $center;
	-webkit-align-items: $center;
	-ms-flex-align: $center;
	align-items: $center;
	color: #8e8e8e;
	color: rgba(var(--f52,142,142,142),1);
	&:visited {
		-webkit-box-align: $center;
		-webkit-align-items: $center;
		-ms-flex-align: $center;
		align-items: $center;
		color: #8e8e8e;
		color: rgba(var(--f52,142,142,142),1);
	}
}
#gallery-2 {
	margin-top: 12px;
}
.sidebar {
	font-family: $font-family-raleway;
	position: $fixed;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 0.5px solid #d9d9d9;
	width: 160px;
}
.nav-item {
	a {
		color: $black;
	}
}
.nav-pills {
	.nav-link.active {
		color: $white;
		background-color: $verde_nutrifeed;
	}
	.show {
		>.nav-link {
			color: #fff;
			background-color: $verde_nutrifeed;
		}
	}
}
.modal-content {
	font-family: $font-family-raleway;
	background-color: #f2f2f2;
	min-height: 450px;
}
.row-carousel {
	margin-top: $size-60;
}
#carousel-thumb {
	width: $scale-80;
}
.description {
	position: $relative;
	right: $scale-10;
	margin-top: $size-20;
}

/*
 _________________________
 |						|
 |		Responsive  	|
 |						|
 -------------------------
 */
@media (max-width: 767.98px) {
	.drop {
		display: block;
		position: $relative;
		bottom: $scale-30;
		left: 5%;
		button {
			font-size: 12px;
		}
	}
	.profile-photo {
		img {
			height: $size-80;
			width: $size-80;
		}
	}
	.perfil-info {
		position: $relative;
		left: 42%;
		bottom: 26%;
		h4 {
			font-size: $size-20;
		}
	}
	.bi-pencil-square {
		position: $relative;
		top: $scale-10;
		left: 88%;
	}
	.info-data {
		position: $relative;
		top: $size-10;
		font-size: 14px;
		p {
			display: inline;
			padding-right: $size-10;
		}
	}
	.bi-gear-fill {
		position: $relative;
		left: 58%;
		bottom: $scale-10;
	}
	.btn-cerrar {
		font-size: 9px;
		width: $size-90;
		height: 26px;
		position: $relative;
		bottom: 16%;
		left: 71%;
	}
	.menu-semanas {
		background-color: white;
		height: 50px;
		span {
			margin: 5px;
		}
	}
	.container-gallery {
		margin-top: $size-10;
	}
	.row-gallery {
		.column {
			padding-right: 2px;
			padding-left: 2px;
		}
	}
	.row-carousel {
		margin-top: 0px;
	}
	#carousel-thumb {
		width: 210%;
	}
	.description {
		p {
			font-size: 12px;
		}
	}
	.description-text {
		position: $relative;
		top: 110%;
		right: $scale-40;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.perfil-info {
		position: $relative;
		left: 42%;
		bottom: $scale-50;
	}
	.bi-gear-fill {
		left: 57%;
		bottom: 10%;
	}
	.btn-cerrar {
		font-size: $scale-10;
		width: $size-100;
		height: 29px;
		bottom: 41%;
		left: 78%;
	}
	.menu-semanas {
		height: 12%;
		span {
			margin: 14px;
		}
	}
	.sidebar {
		font-size: 14px;
		width: 110px;
	}
	.modal-content {
		min-height: 350px;
	}
	.description {
		position: $relative;
		right: 4%;
		margin-top: $size-10;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.bi-gear-fill {
		left: 67%;
		bottom: 10%;
	}
	.btn-cerrar {
		font-size: $scale-10;
		width: $size-100;
		height: 29px;
		bottom: 41%;
		left: 84%;
	}
	.menu-semanas {
		span {
			margin: $size-40;
		}
	}
}
@media (min-width: 1445px) {
	.profile-photo {
		position: $relative;
		left: 8%;
		img {
			width: 160px;
			height: 160px;
		}
	}
	.perfil-info {
		position: $relative;
		left: $scale-30;
		bottom: $scale-60;
	}
	.btn-cerrar {
		font-size: $size-10;
		width: $size-100;
		height: 29px;
		bottom: 42%;
		left: $size-90;
	}
}
