$white: #fff !default;
$white-ligth: rgba(255, 255, 255, 0.9);

$black: #000 !default;
$black-shadow: rgba(0, 0, 0, 0.2);
$web-black-shadow: rgba(0, 0, 0, 0.18);
$black-shadow-intense: rgba(0, 0, 0, 0.15);

$red: red !default;
$red-hover: #C20808;

$green-color: green;
$green-border: #008939;
$green-ligth:#D3FFB6;
$verde_nutrifeed: rgb(8, 121, 8);
$green-tab: #408000;

$gray-color: gray;
$grey-background: #4d4d4d;
$header-grey: rgba(51, 51, 51, 0.5);



$primary: $green-color !default;
$secondary: $gray-color !default;

// Sizes
$full-size: 100%;
$size-0: 0px;
$size-10: 10px;
$size-20: 20px;
$size-25: 25px;
$size-30: 30px;
$size-40: 40px;
$size-50: 50px;
$size-60: 60px;
$size-70: 70px;
$size-80: 80px;
$size-100: 100px;

$scale-10: 10%;
$scale-20: 20%;
$scale-25: 25%;
$scale-30: 30%;
$scale-40: 40%;
$scale-50: 50%;
$scale-60: 60%;
$scale-70: 70%;
$scale-80: 80%;
$scale-90: 90%;

//  Fonts

$web-font-path1: "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" !default;
$web-font-path2: "https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" !default;
$web-font-path3: "https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Quicksand:wght@400;600&family=Signika&family=Ubuntu:ital,wght@1,300&display=swap" !default;
@import url($web-font-path1);
@import url($web-font-path2);
@import url($web-font-path3);

$sans-serif-font: sans-serif;
$font-family-quicksand: 'Quicksand', $sans-serif-font;
$font-family-rubik: 'Rubik', $sans-serif-font;
$font-family-opensans: 'Open Sans', $sans-serif-font;
$font-family-caveat: 'Caveat', cursive;

//  Alination

$center: center;

$fixed: fixed;
$relative: relative;
$absolute: absolute;

$pointer: pointer;

//  Imgs
// $img-background: "../../imgs/background.jpg";
// $img-background1: "../../imgs/background1.jpg";
// $img-backgroundUsuario: "../../imgs/backgroundIniUsuario.jpg";
// $img-backgroundDieta: "../../imgs/backDieta.jpg";

.footer-style{
    font-family: $font-family-rubik;
    background-color: $white;
    opacity: 0.9;
    text-align: $center;
    & .content {
        position: $relative;
        transform: translateY(-$scale-50);
        top: $scale-50;
        line-height: $size-30;
    }
}

$icons-path: "https://fonts.googleapis.com/icon?family=Material+Icons" !default;
@import url($icons-path);


#footer{
  margin-top: $size-20;
  font-family: $font-family-rubik;
  height: $size-100;
  font-size: 10px;
  background-color: $white;
  opacity: 0.9;
  text-align: $center;

  & h1,h2{
    font-size: 18px;
  }

  & .content{
      position: $relative;
      transform: translateY(-$scale-50);
      top: $scale-50;
      line-height: $size-30;
  }
}

