@import "variables";

/*
  _________________________
  |						|
  |		  cuerpo 		|
  |						|
  -------------------------
  */

* {
    box-sizing: border-box;
}
.feed {
    font-family: $font-family-quicksand;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: $size-50;
    word-break: break-all;
}
.row {
    margin: 8px -16px;
    padding: 8px;
    >.column {
        padding: 8px;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.column {
    float: left;
    width: 25%;
}
.content {
    background-color: white;
    padding: $size-10;
}
.header-profile {
    img {
        border-radius: $scale-50;
        position: relative;
        right: -35px;
        top: $size-50;
    }
    height: $size-40;
    width: $scale-100;
    background-color: rgba(51,51,51,0.5);
}
.buttons-profile {
    button {
        text-align: center;
        line-height: 1em;
        margin-right: 5%;
        width: 170px;
        height: $size-50;
        font-size: $size-20;
        position: relative;
        right: -42%;
        top: $size-10;
        background-color: #4d4d4d;
        border: 2px solid rgba(51,51,51,0.5);
    }
}
.datos-profile {
    font-family: $font-family-quicksand;
    font-size: 25px;
    margin-left: $scale-20;
    margin-top: -12%;
}
