<section id="w3c">
    <div id="message">
        <div class="info">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <img class="imgCard" src="../assets/imgs/W3C/index.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">index</h4>
                        </div>
                    </div>
                    <!--<div class="card">
                        <img class="imgCard" src="../imgs/W3C/acerca.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Acerca</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/registro.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Registro</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/inicioSesion.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">inicioSesion</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/comunidad.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Comunidad</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/beneficios.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Beneficios</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/inicioUsuario.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">inicioUsuario</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/dieta.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Dieta</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/nutri.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Nutri</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/pacientes.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Pacientes</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/recetas.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Recetas</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/verReceta.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Ver Receta</h4>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/recetasUsuario.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">recetasUsuario</h4>
                        </div>
                    </div>
    
                    <div class="card">
                        <img class="imgCard" src="../imgs/W3C/nutriologos.png" alt="Card image">
                        <div class="card-body">
                            <hr>
                            <h4 class="titulo">Nutriologos</h4>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>