<section id="acerca">
    <div id="message">
        <div class="info">
            <h2>Seguir una dieta puede ser complicado</h2>
            
            <p>NutriFeed es una aplicación especializada en el asesoramiento nutricional, efocada a todas aquellas personas que quieran tener un estilo de vida más saludable.</p>
            
            <p>¡Contamos con el mejor asesoramiento para que alcances todas tus metas! NutriFeed cuenta con una red de nutriólogos, apasionados y dispuestos a brindar sus servicios desde cualquier parte del país.</p>
        </div>
    </div>
</section>