@import "../personalizacion";
@import "../header";
@import "body";
@import "footer";
@import "responsive";

body, html { 
    height: 92%;
    background: url($img-backgorund) no-repeat $center $center $fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  
  
  