

 body, html {
  height: 100%;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  background: url(../imgs/backgroundIniUsuario.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /*
  _________________________
  |           |
  |     menu        |
  |           |
  -------------------------
  */
#header {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 0.2);
  opacity: 0.9; }
  #header img {
    margin-right: 20px; }
  #header ul {
    color: gray;
    font-size: 20px; }
  #header li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    color: gray;
    height: 50px;
    line-height: 50px; }
    #header li:hover {
      color: #000;
      border-bottom: 1px solid;
      border-color: green; }
  #header a {
    text-decoration: none;
    color: gray;
    cursor: pointer; }
    #header a:hover {
      color: green; }
  #header .menu {
    left: 100px; }
  #header .ini-reg {
    right: 0; }

/*
  _________________________
  |           |
  |     footer    |
  |           |
  -------------------------
  */
#footer {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  height: 100px;
  font-size: 18px;
  background-color: #fff;
  opacity: 0.9;
  text-align: center; }
  #footer .content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    line-height: 30px; }


  /*
  _________________________
  |           |
  |     cuerpo    |
  |           |
  -------------------------
  */
 
/* Header de perfil */
  .header-profile {
    position: relative;
  height: 280px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5); }

.header-profile img {
    border-radius: 50%;
    position: relative;
    right: -35px;
    top: 50px; }

.buttons-profile  {
  
  position: relative;
  top: 10%;
   
   }

  .buttons-profile button{
  text-align: center;
  line-height: 1em;
  margin-right: 5%;
  width: 170px;
  height: 50px;
  position: relative;
  right: -45%;
  font-size: 20px;
  background-color: #4d4d4d;
  border: 2px solid rgba(51, 51, 51, 0.5);
  }

.datos-profile {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  margin-left: 20%;
  margin-top: -12%; }

  /* Dropdown Button */

.dropdown-toggle{
  position: relative;
  right: -65%;
  top: 20px;
}

/* Display web-version */
 .web-version {
  display: block;

}
.mobile-version {
  display: none;
}

/* Feed version web */

.container-gallery{
  
  background-color: white;
   padding: 5px; 
  text-align: center;
  font-size: 28px;
    font-family: 'Caveat';

}

/* svg icono ojo */

.bi-eye-fill{
  margin-left: 85%;
  position: relative;
  top: -28px;

}


 h1 {
   word-break: break-all;
}
 .row {
   margin: 8px -16px;
   padding: 8px;
}
 .row > .column {
   padding: 8px;
}
 .row:after {
   content: "";
   display: table;
   clear: both;
}
 .column {
   float: left;
   width: 25%;
}

.col h4{
  text-align: center;
  font-family: 'Caveat';
  font-size: 30px;
}



/*
  _________________________
  |           |
  |     Responsive    |
  |           |
  -------------------------
  */
  @media (min-width: 1199.98px) {


 .datos-profile {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  margin-left: 15%;
  margin-top: -7%; 
   }

   #footer{
    margin-top: 10%;
   }

  }
  @media (max-width: 1199.98px) {
   
    /* Header de perfil */

  .buttons-profile button{
  
  width: 180px;
  height: 60px;
  position: relative;
  right: -36%;
  top: 20px;
  font-size: 20px;
 
  } 

  .datos-profile {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  margin-left: 20%;
  margin-top: -15%; 
   }

  .container {
    margin-top: 10%;
   
   }

 
#row2{
  margin-top: 10%;  
  
}
/* Fix footer */
#footer {
    margin-top: 250px;
     
  }
   }


  @media screen and (max-width: 700px) {

.datos-profile {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  margin-left: 20%;
  margin-top: 20%; 
   }
  #footer {
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    height: 100px;
    font-size: 18px;
    background-color: #fff;
    opacity: 0.9;
    text-align: center; }
    #footer .content {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
      line-height: 30px; } 



    }




@media screen and (max-width: 991.98px) {
  /* Display mobile version */

  .web-version {
  display: none;
           }
.mobile-version {
  display: block;
       }

  /* Header de perfil fix */

  .header-profile img {
    width: 160px;
    height: 160px; }
  
  .buttons-profile button {
    margin-right: 2%;
    width: 160px;
    height: 50px;
    font-size: 20px;
    position: relative;
    right: -200px;
    top: 30px; 
  }
  .datos-profile {
    font-size: 24px;
    margin-left: 35%;
    margin-top: -20%; 
  }

/* Feed Mobile version */

  .mobile-version .column{

    width: 50%; }

  .mobile-version .content{
    font-family: 'Caveat';
    font-size: 30px; 
     background-color: white;
     padding: 5px;
    

  }
   .mobile-version .feed{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 20px;
    
  } 

  /* Pop up Carousel fix */
 
  .description{
  text-align: center;
  margin-top: 5%;

}

.description h2{

  margin-bottom: 10%;
  font-size: 30px;
  font-family: 'Caveat';


}

.description p{
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
}

@media (max-width: 749px) {
 

  /* Display mobile version */

.web-version {
  display: none;
}
.mobile-version {
  
  display: block;
}
  /* Header de perfil fix */
 
     .profile-photo{
      position: relative;
      top: -28px;
      right: 5%;
     }


  .buttons-profile  {
  
  top: 10%;
  
   }

  .buttons-profile .btn{
    position: relative;
    right: -5%;
    font-size: 16px;
    width: 100px;
    height: 40px;

  }

  .header-profile .datos-profile{
      font-size: 16px;
      position: absolute;
      right: 5%;
      top: 50%;


    }

  /* Feed mobile version */

  * {

  box-sizing: border-box; }


  .mobile-version .column{
    width: 50%;
     
  }
  .mobile-version .feed{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 20px;
    
  }  

  .mobile-version .content{
    font-size: 20px;
    font-family: 'Caveat';
   background-color: white;
   padding: 5px; 
}

  /* Pop up carousel fix */
.description h2{

  margin-bottom: 10%;
  font-size: 20px;
  font-family: 'Caveat';


}

.description p{
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
}
   
}

