@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Quicksand:wght@400;600&family=Signika&family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Quicksand:wght@400;600&family=Signika&family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Quicksand:wght@400;600&family=Signika&family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Quicksand:wght@400;600&family=Signika&family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.footer-style {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  opacity: 0.9;
  text-align: center; }
  .footer-style .content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    line-height: 30px; }

.footer-style {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  opacity: 0.9;
  text-align: center; }
  .footer-style .content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    line-height: 30px; }

/*
  _________________________
  |						|
  |		  menu     		|
  |						|
  -------------------------
  */
#header {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 0.2);
  opacity: 0.9; }
  #header img {
    margin-right: 20px; }
  #header ul {
    color: gray;
    font-size: 20px; }
  #header li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    color: gray;
    height: 50px;
    line-height: 50px; }
    #header li:hover {
      color: #000;
      border-bottom: 1px solid;
      border-color: green; }
  #header a {
    text-decoration: none;
    color: gray;
    cursor: pointer; }
    #header a:hover {
      color: #000; }
  #header .menu {
    left: 100px; }
  #header .ini-reg {
    right: 0; }
  #header .dropdown {
    position: absolute;
    right: 10%; }

.footer-style {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  opacity: 0.9;
  text-align: center; }
  .footer-style .content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    line-height: 30px; }

/*_________________________
  |                       |
  |          menu         |
  |                       |
  -------------------------*/
.selected {
  color: #000;
  border-bottom: 1px solid;
  border-color: green; }

/*_________________________
  |                       |
  |         body          |
  |                       |
  -------------------------*/
section {
  padding: 10px;
  height: 100%; }

#body_part {
  font-family: "Rubik", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; }

#formularioReceta {
  background-color: #fff;
  position: relative;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  opacity: 0.9; }

#info {
  text-align: center;
  height: 100%;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }
  #info h2 {
    font-size: 30px !important; }
  #info form input[type=text] {
    text-align: center;
    margin: none;
    width: 50%;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid;
    border-color: #008939;
    margin-bottom: 20px; }

.elegirImagenTexto {
  text-align: center; }

.formulario {
  text-align: center; }
  .formulario img {
    width: 100%; }

textarea {
  margin: none;
  width: 50%;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  padding: 12px 20px;
  border: 1px solid;
  border-color: #008939;
  margin-bottom: 20px; }

.form-grou {
  margin-top: 20px; }
  .form-grou input {
    width: 220px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    text-align: center !important; }

#info form input[type=submit] {
  margin-top: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 50%;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: #008939;
  color: #fff; }

#info form input[type=submit]:hover {
  color: #D3FFB6; }

#info form a {
  text-decoration: none;
  color: #000; }
  #info form a:hover {
    color: green; }

.footer-style {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  opacity: 0.9;
  text-align: center; }
  .footer-style .content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    line-height: 30px; }

/*_________________________
  |                       |
  |         footer        |
  |                       |
  -------------------------*/
#footer {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  height: 100px;
  font-size: 18px !important;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 0.2); }
  #footer .content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    line-height: 30px; }

.content h1, h2 {
  font-size: 18px !important; }

@media screen and (max-width: 700px) {
  /*
      _________________________
      |           |
      |     cuerpo    |
      |           |
      -------------------------
      */
  #formularioReceta {
    width: 80%;
    height: 500px;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #fff;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    opacity: 0.9; }
  #info {
    font-family: "Rubik", sans-serif;
    text-align: center; }
    #info img {
      margin-top: 10%;
      width: 100px; }
    #info h2 {
      color: #000;
      margin-top: 10px;
      font-size: 30px; }
  /*
      _________________________
      |           |
      |     footer    |
      |           |
      -------------------------
      */
  #footer {
    margin-top: 0%;
    font-size: 15px;
    text-align: center; }
    #footer .content {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
      line-height: 16px; } }

body, html {
  height: 92%;
  background: url("../imgs/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
