<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="container-pacientes"> 
        <div class="pacientes-titulo"><p i18n="TituloNutriólogos">Tus nutriólogos</p></div>
        <div class="pacientes-buscador">
          <input type="text" placeholder="Buscar..." i18n-placeholder="Buscar_Nutri_placeholder">
          <a routerLink="/nutri/registro-nutri"><button i18n="DescripcionBotonAgregarNutri" type="button" class=" agregar btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Agregar nutriólogo
          </button></a>
         
        </div>
         <!-- Profile Feed --> 
          <div class="container-gallery">
            
            <div class="row row-gallery " id="gallery-1">
              
              <div class="col-4 col-sm-4 col-lg-4 column">
            
                <div class="user_profile_info">
                  <div style="background-image: url('../../../../../assets/img/profilepic.jpg');" class="profile_pic_container"></div>
                  <p class="user_name">Estefania Fuentes</p>
                </div>
              
              </div>

              <div class="col-4 col-sm-4 col-lg-4 column">
            
                <div class="user_profile_info">
                  <div style="background-image: url('../../../../../assets/img/profilepic2.jpg');" class="profile_pic_container"></div>
                  <p class="user_name">María Reyes</p>
                </div>
              
              </div>

              <div class="col-4 col-sm-4 col-lg-4 column">
            
                <div class="user_profile_info">
                  
                  <div style="background-image: url('../../../../../assets/img/profilepic4.jpg');" class="profile_pic_container"></div>
                  <p class="user_name">Alfredo Mercuro</p>
                </div>
              
              </div>
              
              
            </div>
          
          </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>