  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="container-info">
          <div class="registro-titulo">
            <p>Registro de Dieta</p>
          </div>
          <div class="form-container">
            <form [formGroup]='modeloDieta' (ngSubmit)='registrarDieta()'>
                <div class="form-group">
                  <label for="inputDescripcion">Desayuno</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Agrega la descripción" formControlName='desayuno' required></textarea>
                </div>
                <div class="form-group" formGroupName='colaciones'>
                  <label for="inputDescripcion">Colación 1</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Agrega la descripción" formControlName='colacion1' required></textarea>
                </div>
                <div class="form-group">
                  <label for="inputDescripcion">Comida</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Agrega la descripción" formControlName='comida' required></textarea>
                </div>
                <div class="form-group" formGroupName='colaciones'>
                  <label for="inputDescripcion">Colación 2</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Agrega la descripción" formControlName='colacion2' required></textarea>
                </div>
                <div class="form-group">
                  <label for="inputDescripcion">Cena</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Agrega la descripción" formControlName='cena' required></textarea>
                </div>
                <div class="form-group" formGroupName='colaciones'>
                  <label for="inputDescripcion">Colación 3</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Agrega la descripción" formControlName='colacion3' required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
              </form>
              <p>Valor del formulario: {{modeloDieta.value | json}}</p>
          </div>

        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
