<div class="row">
    <div class="col-sm-1"></div>
    <div class="contTittle col-sm-10">
        <div class="cont imgContainer col-xs-12 col-md-12 col-lg-4">
            <img class="imgReceta" src="../../../../../assets/img/feed7.jpg" alt="Card image">
        </div>
        <div class="cont col-xs-12 col-md-12 col-lg-8">
            <h1 class="tituloReceta">Enchiladas y huevito</h1>
            <p class="descripcionCorta">Huevito rico con una especie de rollito con aguacate, esta rico pruebalo para quedar maravillado</p>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="description col-sm-10">
        <h1 class="tituloDescripcion">Pasos a realizar</h1>
        <ul>
            <li class="pasosReceta">poner huevito</li>
            <li class="pasosReceta">Cocinar huevito</li>
            <li class="pasosReceta">Preparar chilaquiles</li>
            <li class="pasosReceta">poner aguacate encima</li>
            <li class="pasosReceta">Commer yummy</li>
        </ul>
    </div>
    <div class="col-sm-1"></div>
</div>


