<section id="comunidad">
  <div id="message">
      <div class="info">
          <h2 i18n="Titulo">Nuestra comunidad</h2>
          <p i18n="Texto1">Para poder conseguir el cambio que queremos, es importante tener un objetivo y estar motivado. Por eso, en NutriFeed tenemos una comunidad interactiva en que la puedes compartir tu progreso.</p>

          <p i18n="Texto2">Sube tus fotos, recetas y dietas. Formar parte de la comunidad te ayudará a visualizar tu progreso.</p>
      </div>
  </div>
</section>

