<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <img class="imgCard" src="../../../../../assets/img/W3C/index.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Index">Index</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/acerca.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="AcercaDe">Acerca</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/registro.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Registro">Registro</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/inicioSesion.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="InicioSesion">inicioSesion</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/comunidad.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Comunidad">Comunidad</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/beneficios.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Beneficios">Beneficios</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/inicioUsuario.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="InicioUsuario">inicioUsuario</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/dieta.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Dieta">Dieta</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/nutri.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Nutri">Nutri</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/pacientes.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Pacientes">Pacientes</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/recetas.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Recetas">Recetas</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/verReceta.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="VerReceta">Ver Receta</h4>
            </div>
        </div>
        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/recetasUsuario.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="RecetaUsuario">recetasUsuario</h4>
            </div>
        </div>

        <div class="card">
            <img class="imgCard" src="./../../../../assets/img/W3C/nutriologos.png" alt="Card image">
            <div class="card-body">
                <hr>
                <h4 class="titulo" i18n="Nutriologos">Nutriologos</h4>
            </div>
        </div>
    </div>
</div>
