.imgCard{
    height: 400px;
}

.titulo{
    color: rgb(23, 126, 23);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.card{
    font-family: 'Raleway', sans-serif;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}



@media only screen and (max-width: 1000px) {
       
}

@media only screen and (max-width: 700px) {
     
}