@import "~bootstrap/scss/bootstrap";
// @import "~jquery/dist/jqueryjs";
// @import "~jquery/dist/jquery.slim.js";
@import "personalizacion";
@import "header";
@import "footer";
@import "special";
@import "body-index";
@import "responsive-index";

body, html {
    height: $full-size;
    background: url($img-backgorund) no-repeat $center $center $fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

 body:after{
  content: "beta";
  position: $fixed;
  width: $size-80;
  height: $size-25;
  background: $green-border;
  top: 7px;
  left: -$size-20;
  text-align: $center;
  font-size: 13px;
  font-family: $sans-serif-font;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  line-height: 27px;
  transform:rotate(-45deg);
}


.selected{
    color: $black;
    border-bottom: 1px solid;
    border-color: $primary;
}
