<section id="body_part">
  <div id="formularioReceta">
    <div id="info">
      <h2>Registar receta</h2>
      <form class="formulario" action="recetas.html">
        <input type="text" id="fnombreReceta" name="fnombreReceta" placeholder="Nombre de la receta" required><br>

        <textarea id="descripcion" name="descripcion" rows="4" cols="50" placeholder="Descripción de la receta" required=""></textarea><br>

        <div class="form-grou">
          <h2>¡Elige una imagen!</h2>
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <input type="submit" value="Registrar receta"><br>
      </form>
    </div>
  </div>
</section>
