/*
_________________________
|						|
|		  body    		|
|						|
-------------------------
*/

.container-info {
	font-family: 'Raleway', sans-serif;
	background-color: #ffff;
	border: 0.5px solid #d9d9d9;
	margin-bottom: 50px;
}
.registro-titulo {
	height: 60px;
	text-align: center;
	font-size: 29px;
	line-height: 60px;
	border-bottom: 0.5px solid #d9d9d9;
}
.form-container {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
/*
_________________________
|						|
|	    Responsive  	|
|						|
-------------------------
*/
@media (max-width: 650px) {
	.profile_pic_container {
		width: 80px;
		height: 80px;
	}
}
