<body>
  

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
              <!-- Perfil de usuario -->
        <div class="container-perfil-info">

          <a class = "profile-photo">
          <img class="photo img-circle" src="../../../../../assets/img/profilepic.jpg" alt="Avatar" width="130" height="130" >
          </a>
          <div class ="perfil-info">
          <h4> Daniela Fernandez <span> (email@example.com )</span> </h4>
          <div class = "info-data">
            <form [formGroup]='modeloProgreso' (ngSubmit)='registrarProgreso()'>
              <p i18n="IMC">IMC actual: <input type="text" class="datos" name="fname" placeholder="IMC" formControlName='imc' required> </p>
              <br><p i18n="Peso"> Peso actual <input type="text" class="datos" name="fname" placeholder="KG" formControlName='kg' required></p>
              <button i18n="Registrar" type="submit " class="btn btn-lg btn-secondary btn-act">Registrar</button>
            </form>
            <!-- <p>Valor del formulario: {{modeloProgreso.value | json}}</p> -->

        </div>

        </div>
          </div>

          <div class="actualizar-container">

          </div>

          <div class="tabla-progreso">
              <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th i18n="Entrada" scope="col">ENTRADA</th>
                      <th i18n="Fecha" scope="col">FECHA</th>
                      <th scope="col"># KG</th>
                      <th scope="col"># IMC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pro of progreso">
                      <th scope="row">1</th>
                      <td>{{ pro.fecha }}</td>
                      <td>{{ pro.kg }}</td>
                      <td>{{ pro.imc }}</td>
                    </tr>
                  </tbody>
                </table>

          </div>

          <div class="chart-wrapper">
            <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="'line'"
                [plugins]="lineChartPlugins">
            </canvas>
          </div>

          <div class="chart-wrapper">
            <canvas baseChart
                [datasets]="lineChartData2"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors2"
                [legend]="lineChartLegend"
                [chartType]="'line'"
                [plugins]="lineChartPlugins">
            </canvas>
          </div>

          </div>



      <div class="col-md-2">
      </div>
    </div>

  </div>

    <!--Más bootstrap-->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  </body>
