@use "../personalizacion";

/*
  _________________________
  |						|
  |		  footer 		|
  |						|
  -------------------------
  */
#footer{
  height: $size-100;
  font-size: 18px;
  margin-top: $size-20; 
  @extend .footer-style;
}