@import "variables";

/*
  _________________________
  |						|
  |		  menu     		|
  |						|
  -------------------------
*/
#header {
    font-family: $font-family-quicksand;
    font-size: 45px;
    box-shadow: $size-0 $size-0 $size-0 1.5px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    & ul {
        color: $secondary;
        font-size: $size-20;
    }
    & li {
        display: inline-block;
        cursor: $pointer;
        color: $secondary;
        height: $size-50;
        line-height: $size-50;
        &:hover {
            color: $black;
            border-bottom: 1px solid;
            border-color: $primary;
        }
    }
    & .return {
        text-decoration: none;
        color: $secondary;
        cursor: $pointer;
        &:hover {
            color: $primary;
        }
    }
    & .menu {
        left: $size-100;
    }
    & .ini-reg {
        right: $size-0;
    }

}